// Body
$body-bg: #f8fafc;

// Typography
$headings-font-weight:700;
$font-family-base: 'Inconsolata', sans-monospace;
$font-size-base: 1rem;
$line-height-base: 1.6;
$primary:#ea4e4e;
$min-contrast-ratio:3;